* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

nav ul li {
  display: inline-block ;
  padding-left: 25px;
}

nav ul {
  list-style: none;
}

a{
  text-decoration: none;
}

nav {
  position: fixed;
  text-align: right;
  z-index: 1;
  width: 100%;
  padding: 40px 20px;
}

.section-1 {
  height: 100vh;
  background-color: #FF0000;
  position: relative;
  color: #FFFF00;
}

.section-2 {
  height: 100vh;
  background-color: #008000;
  position: relative;
  color: #FFFF00;
}

.section-3 {
  height: 100vh;
  background-color: #FFFF00;
  position: relative;
  color: #008000;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-shoes {
  text-align: center;
  font-size: 67px;
}

.number {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  position: relative;
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 50%;
}
